@font-face {
  font-family: Avenir-Black;
  src: url('./assets/fonts/Avenir\ Black.ttf') format('opentype');
}
 
html{
  scroll-behavior: smooth;
}

body {
  font-family: Avenir-Black;
  background-color: #121212;
  color: #fff;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#i {
  font-family: Avenir-Black;
  border: solid 1.5px ghostwhite;
  height: 10%;
  font-size: 14px;
  background-color: #181818;
  border-radius: 10px;
  color: ghostwhite;
  position: absolute;
  left: 25%;
  top: 40%;
  width: 49%;
  text-align: center;
}

#b {
  background-color: ghostwhite;
  color: #181818;
  font-family: Avenir-Black;
  border-radius: 10px;
  border: solid 2px ghostwhite;
  position: absolute;
  left: 25%; 
  top: 55%;
  width: 50%;
  height: 10%;
  font-size: 14px;
  cursor: pointer;
}

#b:hover {
  opacity: 80%;
}

a:hover {
  opacity: 80%;
}

input::placeholder {
  opacity: 0.8;
  color: ghostwhite;
}

input:focus {
  outline: none;
}

#coords {
  position: absolute;
  top: 70%;
  left: 35%;
}

#greenp {
  width: 20%; 
  height: 40%; 
  position: relative;
  top: 30%;
  left: 40%; 
  box-shadow: 0px 0px 7.5px 2px #00d062, inset 0px 0px 7.5px 2px #00d062;
  border-radius: 50%;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 10px #00d062, 0 0 20px #00d062, 0 0 30px #00d062, 0 0 40px #00d062, 0 0 50px #00d062, 0 0 60px #00d062, 
    inset 0 0 10px #00d062, 0 0 20px #00d062, 0 0 30px #00d062, 0 0 40px #00d062, 0 0 50px #00d062, 0 0 60px #00d062;
  }
  
  to {
    box-shadow: 0 0 20px #00d062, 0 0 30px #00d062, 0 0 40px #00d062, 0 0 50px #00d062, 0 0 60px #00d062, 0 0 70px #00d062,
    inset 0 0 20px #00d062, 0 0 30px #00d062, 0 0 40px #00d062, 0 0 50px #00d062, 0 0 60px #00d062, 0 0 70px #00d062;
  }
}

#square {
  position: absolute;
  height: 70%;
  width: 30%;
  left: 35%;
  top: 15%;
  border-radius: 10px;
  background-color: #fff;
  z-index: 2;
  opacity: 20%;
}

#purpose-input {
  position: absolute;
  left: 37.5%;
  top: 40%;
  width: 25%;
  height: 5%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
  z-index: 2;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

#purpose-input-2 {
  position: absolute;
  left: 37.5%;
  top: 50%;
  width: 25%;
  height: 5%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
  z-index: 2;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

#purpose-button {
  cursor: pointer;
  position: absolute;
  left: 37.5%;
  top: 65%;
  width: 10%;
  height: 5%;
  z-index: 2;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
}

#purpose-button:hover {
  background-color: white;
  color: 121212;
}

#container {
  background-color: #181818;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  border-radius: 10px;
}

#igeon {
  position: absolute;
  top: 5.5%;
  left: 16.5%;
  z-index: 2;
  font-size: 24px;
}

#logo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 180px;
}

#v-logo {
  width: 10%;
  height: 22.5%;
  position: relative;
  top: 40%;
  left: 35%;
}

#v-igeon {
  width: 10%;
  height: 22.5%;
  position: relative;
  top: 11.5%;
  left: 45%;
  font-size: 76px;
}

#purpose-logo {
  width: 3.5%;
  height: 6%;
  position: absolute;
  top: 24%;
  left: 37%;
  z-index: 2;
}

#purpose-igeon {
  position: absolute;
  font-size: 24px;
  top: 21.25%;
  left: 40.5%;
  z-index: 2;
}

#index-container {
  background-color: ghostwhite;
}

#index-logo {
  position: absolute;
  top: 0%;
  left: 0%;
  cursor: pointer;
  height: 90px;
  width: 135px;
}

#index-igeon {
  position: absolute;
  top: 1%;
  left: 6.2%;
  z-index: 2;
  font-size: 20px;
}

#moto {
  position: absolute;
  left: 55%;
  top: 82%;
  font-size: 42px;
  z-index: 2;
}

#a-drone {
  position: absolute;
  top: 4%;
  left: 60%;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: ghostwhite;
}

#a-vision {
  position: absolute;
  top: 4%;
  left: 68%;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: ghostwhite;
}

#a-purpose {
  position: absolute;
  top: 4%;
  left: 78%;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: ghostwhite;
}

#a-contact {
  position: absolute;
  top: 4%;
  left: 87%;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: ghostwhite;
}
